<%= form_for @recipe.comments.new do |f| %>
<%= f.label :name %> <br> <%= f.text_field :name %><br>
<%= f.label :body, "Comment" %> <br> <%= f.text_area :body %><br>
<%= f.label :recipe_id, "The Recipe" %> <br>
<%= f.collection_select :recipe_id, Recipe.all,:id, :title  %>
</div>
<%= f.submit %>
<% end %>