<h2><%= @recipe.title %></h2>

<h5> by: <%= link_to @recipe.user.username, user_path(@recipe.user)  %></h5>

<%= cl_image_tag @recipe.image %>

<h5><i class="far fa-clock" style="font-size:24px;"></i> <%= @recipe.preptime %>
 | 
<i class="fas fa-user" ></i>  <%= pluralize(@recipe.serving,"person") %> </h5> 
<br>

<h5><i class="fas fa-list-ul"></i> <strong> Ingredients:</strong> </h5>

<% @recipe.ingredients.each do |ingredient| %>
<li>
<%= ingredient.quantity  %>  <%= ingredient.name %> 
</li>
<% end%>

<% if user_signed_in? %>
<% if current_user.id == @recipe.user.id %>
<%= render partial: 'ingredients' %>
<% end %>
<% end %>
<br>

<ul>
<li>
<h5><i class="fas fa-mortar-pestle"></i><strong> Method: </strong></h5>  
<p><%= @recipe.method %></p>
</li>
</ul>
<br>

<% if user_signed_in? %>
<% if current_user.id == @recipe.user.id %>
 <%= link_to 'Edit Recipe', edit_recipe_path %> <%= button_to 'Remove Recipe', recipe_path, method: :delete %> 
<% end %>
<% end %>

<h5><strong>Comments: </strong></h5>
<% @recipe.comments.each do |comment| %>
<div class= "comment">

<img class= "avatar" src="https://d1zzxdyvtq79bu.cloudfront.net/bundles/tacextranet/images/chef_pictures/chef_avatar.png" alt="avatar"> 
<strong><%= comment.name %></strong>:
<p><%= comment.body %> </p> 
<p> <%= comment.created_at.strftime("%d-%m-%y, %I:%M:%S %p")  %></p>

<% if user_signed_in? %>
<% if current_user.username == comment.name %>
<%= link_to 'Remove comment', comment_path(comment), method: :delete %>
<% end %>
<% end %>

</div>
<% end%>


<%= render partial: 'comment_form' %>