<h3><%= @user.username %></h3>

<div class="profile">

<% if @user.image.to_s.include? "cloudinary" %>
    <%= cl_image_tag @user.image %>
<% else %>
    <img src="<%= @user.image %>" alt="">
<% end %>


<h3>About: </h3>
<p><%= @user.about %></p>

<h3>My Recipes: </h3>
<% @user.recipes.each do |recipe|%>
<ul>
<li>
-<%= link_to recipe.title, recipe_path(recipe) %>.
</li>
</ul>
<% end %>
<% if user_signed_in? %>

<%= link_to "edit profile information", edit_user_registration_path %>

<% end %>
</div>


