<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>


<header class="card-panel #bdbdbd grey lighten-1">

 <a  class = "logo" href="<%= recipes_path %>"> <%= image_tag "logo.png", size: "200x200", class: "logo-pic " %>  </a>

  <nav class= "nav-bar #757575 grey darken-1 ">
 
  <div >
  <ul  class="left hide-on-med-and-down">

  <li><%= link_to 'Recipes', recipes_path %> </li>
  </ul>
  

  <% if user_signed_in? %>
      <ul class="left hide-on-med-and-down">
   <li><%= link_to 'Create recipe', new_recipe_path %></li> 
    <li><%= link_to "view profile", user_path(current_user) %></li>
    </ul>

    <ul class="right hide-on-med-and-down">
    <%= link_to "Log_Out", destroy_user_session_path, method: :delete %>
    </ul>

    <% else %>
   <ul  class="right hide-on-med-and-down">
   <li><%= link_to "Log_in", new_user_session_path %></li>
   <li><%= link_to "Join", new_user_registration_path %></li>
  </ul>
  <% end%>
  </div>
  </nav>
</header>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>

  <footer class="card-panel #757575 grey darken-1">  
 &copy; Noura Alhadlaq  2018

  </footer>
</html>
